[submodule "studio"]
	path = studio
	url = https://github.com/colelawrence/typedb-studio
[submodule "typeql"]
	path = typeql
	url = https://github.com/colelawrence/typeql.git
[submodule "console"]
	path = console
	url = https://github.com/typedb/typedb-console.git
