[submodule "studio"]
	path = studio
	url = https://github.com/colelawrence/typedb-studio
[submodule "typeql"]
	path = typeql
	url = https://github.com/colelawrence/typeql.git
[submodule "console"]
	path = console
	url = https://github.com/typedb/typedb-console.git
[submodule ".context/livestore"]
	path = .context/livestore
	url = https://github.com/livestorejs/livestore.git
[submodule "typedb-web-studio"]
	path = typedb-web-studio
	url = https://github.com/colelawrence/typedb-web-studio.git
